<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: lime">
<form action="/addsongs" method="post">
<label style="color: blue">Song Name</label>
<input type="text" name="name" >
<br><br>
<label style="color: blue">Song Artist</label>
<input type="text" name="artist" >
<br><br>
<label style="color: blue"> Song Genre</label>
<input type="text" name="genre" >
<br><br>
<label style="color: blue">Song Link</label>
<input type="text" name="link" >
<br><br>
<input type="submit" value="Add Songs">
</form>
</body>
</html>